<header>
    <div class="flexContainer">
        <div id="logoContainer">
            <a href="/">
                <img id="logo" src="/images/logo.svg">
                <h1>Something Borrowed</h1>
            </a>
        </div>

        <div id="accountControls">
            {{{navData.signIn}}}
            {{{navData.signOut}}}
        </div>
    </div>
    <nav class="mainMenu">
        <ul>
            {{{navData.home}}}
            {{{navData.profile}}}
            {{{navData.items}}}
        </ul>
    </nav>
    {{>search}}
</header>