<header>
    <div id="logoContainer"><img id="logo" src="https://raw.githubusercontent.com/Hollyw00d/Project-2/master/public/images/logo-desktop.png"></div>
    <nav>
        {{{navData.home}}}
        {{{navData.profile}}}
        {{{navData.items}}}
        {{{navData.signIn}}}
        {{{navData.signOut}}}
    </nav>
    {{>search}}
</header>