<header>
    <div class="flexContainer">
        <div id="logoContainer">
            <img id="logo"
                src="https://raw.githubusercontent.com/Hollyw00d/Project-2/master/public/images/logo-desktop.png">
        </div>
        <div id="accountControls">
            {{{navData.signIn}}}
            {{{navData.signOut}}}
        </div>
    </div>
    <nav class="mainMenu">
        <ul>
        {{{navData.home}}}
        {{{navData.profile}}}
        {{{navData.items}}}
        </ul>
    </nav>
    {{>search}}
</header>