{{!-- This should be all public items or once signed in all items that are available to the user  --}}

{{>header}}
<main>
    {{#if category}}
    <h2>View by Category: {{category}}</h2>
    {{else}}
    <h2>Search Results: {{query}}</h2>
    {{/if}}
    {{>categorySelect}}

    <div class="resultsHolder">
        {{#if items}}
        {{#each items}}
        <div class="item">
            <div class="itemDescription">
                <h3 data-itemId="{{this.id}}">{{this.itemName}}</h3>
                <p>Description: {{this.itemDescription}}</p>
            </div>
            <div class="itemImage">
                <img src="{{this.itemImage}}">
            </div>
            <button class="orange-btn curvedCorners" id="request" data-itemId="{{this.id}}" data-toggle="modal"
                data-target="#requestModal">Request this Item</button>
        </div>
        {{/each}}
        {{else}}
        {{#if category}}
        <h3 class="text-center">There are no items currently available in that category.</h3>
        {{else}}
        <h3 class="text-center">That search query returns no results at this time.</h3>
        {{/if}}
        {{/if}}
    </div>
    {{>toTopLink}}
</main>
{{>requestModal}}
{{>footer}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="/js/auth.js"></script>
<script type="text/javascript" src="/js/itemRequests.js"></script>