{{>header}}
<main>
    <h1>{{user.userName}}</h1>
    <div id="userItems">
        <h2>Your Available Items</h2>
        {{#each items}}
        <div class="item">
            <div class="itemImage"><img src="{{this.itemImage}}"></div>
            <div class="itemDescription">
                <h3>{{this.itemName}}</h3>
                <p>{{this.itemDescription}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="pendingRequests">
        <h2>Your Pending Requests</h2>
        {{#each pending}}
        <div class="item">
            <div class="itemDescription">
                <h3>{{this.itemName}}</h3>
                <p>{{this.exchange1}}</p>
                <p>{{this.exchange2}}</p>
                <p>{{this.exchange3}}</p>
                <form>
                    <button class="confirmRequest" data-requestid="{{this.id}}">Confirm Request</button>
                    <button class="denyRequest" data-requestid="{{this.id}}">Deny Request</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="confirmedRequests">
        <h2>Your Confirmed Requests</h2>
        {{#each confirmed}}
        <div class="item">
            <div class="itemDescription">
                <h3>{{this.itemName}}</h3>
                <p>{{this.exchange1}}</p>
                <p>{{this.exchange2}}</p>
                <p>{{this.exchange3}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    </div>
    <div id="deniedRequests">
        <h2>Your Denied Requests</h2>
        {{#each denied}}
        <div class="item">
            <div class="itemDescription">
                <h3>{{this.itemName}}</h3>
                <p>{{this.exchange1}}</p>
                <p>{{this.exchange2}}</p>
                <p>{{this.exchange3}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="newItemSection">
        <h2>Add a New Item</h2>
        <form>
            <div class="formGroup">
                <label for="itemName">Name: </label>
                <input type="text" id="itemName" class="formInput" placeholder="Name">
            </div>
            <div class="formGroup">
                <label for="itemName">Description: </label>
                <input type="text" id="itemDesc" class="formInput" placeholder="Description">
            </div>
            <div class="formGroup">
                <label for="itemImage">Image URL: </label>
                <input type="text" id="itemImage" class="formInput" placeholder="Image URL">
            </div>
            <div class="formGroup">
                <label for="itemCategory">Category: </label>
                <input type="text" id="itemCategory" class="formInput" placeholder="Miscellaneous">
            </div>
            <div class="formGroup">
                <label for="availableTo">Available To: </label>
                <select id="availableTo" class="selectpicker" multiple>
                    {{#each groups}}
                    <option value={{this.groupId}}>{{this.groupName}}</option>
                    {{/each}}
                </select>
            </div>
        </form>
        <button id="addItem">Add</button>
    </div>
    <div id="userGroups">
        <h2>Your Groups</h2>
        {{#each groups}}
        <div class="group">
            <div class="groupDescription">
                <h3>{{this.groupName}}</h3>
                <p>{{this.groupAdmin}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="newGroupSection">
        <h2>Create a New Group</h2>
        <form>
            <div class="formGroup">
                <label for="groupName">Name: </label>
                <input type="text" id="groupName" class="formInput" placeholder="Name">
            </div>
            <div class="formGroup">
                <label for="groupAdmin">Description: </label>
                <input type="text" id="groupDescription" class="formInput" placeholder="Description"
                    value="{{user.userName}}">
            </div>
            <button id="addGroup">Add</button>
        </form>

    </div>
</main>
{{>footer}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="/js/auth.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/profile.js"></script>